@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 4%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--border: 214.3 31.8% 91.4%;

		.bg-conic {
			background-image: conic-gradient(
				at 50% 5%,
				#f0f0f0 90deg,
				rgba(20, 232, 30, 0.15),
				rgba(0, 234, 141, 0.15),
				rgba(1, 126, 213, 0.15),
				rgba(181, 61, 255, 0.15),
				rgba(141, 0, 196, 0.15),
				#f0f0f0 270deg
			);
		}
	}

	.dark {
		--background: 0 0% 4%;
		--foreground: 0 0% 100%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--border: 0 0% 98%;

		.bg-grid {
			background-size: 2px 2px;
			background-image: linear-gradient(
					to right,
					hsla(0, 0%, 0%, 1) 1px,
					transparent 1px
				),
				linear-gradient(
					to bottom,
					hsla(0, 0%, 100%, 0.05) 1px,
					black 1px
				);
		}

		.bg-conic {
			background-image: repeating-conic-gradient(
				at 50% 5%,
				#000,
				hsla(0, 0%, 100%, 0.09),
				#000
			);
		}
	}

	.entry {
		animation: scale both linear;
		animation-timeline: view();
		animation-range: entry 0%;
	}

	@keyframes scale {
		0% {
			scale: 0;
		}
	}
}

@layer {
	* {
		@apply border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
